/* Main Website Style Guide*/
* {
  padding: 0px;
  margin: 0px;
}
header,
article,
footer,
nav {
  display: block;
  max-width: 100%;
}
body {
  background-color: #000c1f;
  line-height: 1;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
/*Font settings for entire Site*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  max-width: 60ch;
  line-height: 1.1;
}
h1 {
  font-size: 2vw;
}
h2 {
  font-size: 1.75vw;
}
h3 {
  font-size: 1.2vw;
}
h4 {
  font-size: 1vw;
}
h5 {
  font-size: 1vw;
}
p {
  font-size: 1.05vw;
  color: rgb(255, 255, 255);
  max-width: 60ch;
}

/* The start of the side naviagtion CSS */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  background-color: #03082d; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 1s; /* 0.5 second transition effect to slide in the sidebar */
  transition-timing-function: ease-in-out;
  animation: fadeIn ease 1s;
  z-index: 4;
  border-right: 3px solid #ffd039;
  top: 0;
  left: -255px;
}
/* The side navigaion links */
.sidenavbtn {
  text-decoration: none;
  font-size: 25px;
  background-color: #2ebc7f;
  color: #03082d;
  display: block;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  text-overflow: clip;
  scroll-behavior: smooth;
  border: 2px solid #03082d;
  padding: 0% 0% 0% 5%;
  border-radius: 10px;
}
/* When you mouse over the navigation links, change their color */
.sidenavbtn:hover {
  color: #ffd039;
  background-color: #1d2b72;
  border: 2px solid #2ebc7f;
  border-radius: 10px;
}
/* The sidebar links */
.sidenav a {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  height: 44px;
  padding: 0 1.5rem;
  font-size: 1.06rem;
  white-space: nowrap;
  font-weight: 700;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ffffff;
  background-color: #ced8f770;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #03082d;
  color: #ffffff;
  padding: 16px 12px;
  border: none;
  top: 0; /* Position the navbar at the top of the page */
}

.openbtn:hover {
  cursor: pointer;
  color: rgb(73, 226, 135, 1);
}

/* button to close the sidebar */
.close_btn {
  margin-left: 80%;
  border-style: none;
  background-color: transparent;
  color: rgb(73, 226, 135, 0.8);
}
.close_btn:hover {
  scale: 1.3;
  cursor: pointer;
}
.close_btn:active {
  scale: 1.2;
  color: rgb(73, 226, 135, 1);
}

/* Connect to wallet button */
.connect_btn {
  border-style: none;
  background-color: rgb(255, 208, 57, 0.7);
  font-size: 15px;
  color: rgb(29, 43, 114, 0.7);
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}
.connect_btn:hover {
  background-color: rgb(255, 208, 57, 1);
  color: rgb(29, 43, 114, 1);
  cursor: pointer;
}
.connect_btn:active {
  opacity: 0.6;
}

.topnav {
  background-color: #03082d;
  width: 100%; /* Full width */
  border-bottom: 4px solid #ffd039;
}
/* List Style Main */
li {
  float: left;
}
ul {
  background-color: #ddddddfd;
}
a {
  display: inline-block;
  padding: 10px;
  background-color: #07010100;
}
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0px 16px;
}
.headerimg {
  position: relative;
  margin-left: 25%;
}
.walcon {
  position: relative;
  margin-left: 25%;
}

.bgimg {
  background-color: rgba(46, 188, 127, 1);
  background-image: url(../img/bgimg/Logo_mark_blue.svg);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: 70%, 100%, cover;
  filter: blur(8px);
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}
.bgimg_2 {
  background-color: rgba(3, 8, 45, 1);
  background-image: url(../img/bgimg/Logo_mark_blue.svg);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: 70%, 100%, cover;
  filter: blur(8px);
  width: 100%;
  height: 100%;
  background-position: bottom;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.mainbgimg {
  background-color: rgba(40, 104, 51, 0.589);
  background-image: url(/img/bgimg/Logo_mark_black@3x.png);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: 100%, 100%, cover;
}

/* main content start*/
.main_page {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
/* description section start*/
.description_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-evenly;
  background-color: rgb(29, 43, 114, 0.3);
  padding: 30px;
  margin: 10%;
  border-radius: 3px;
  width: 500px;
}
.description_section:hover {
  background-color: rgb(29, 43, 114, 0.4);
}
.stat {
}
.description__p {
  margin-top: 20px;
}
/* description section end*/

/* deposit section start*/
.deposit_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  background-color: rgb(29, 43, 114, 0.3);
  padding: 30px;
  margin: 10%;
  border-radius: 3px;
  width: 500px;
  text-align: center;
}

.deposit_section:hover {
  background-color: rgb(29, 43, 114, 0.4);
}

.deposit_h2 {
  grid-column: 2;
}

.deposit_input {
  text-align: end;
  padding-right: 40px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 25px;
  border-bottom: 5px solid #1d2b72;
  border-left: 5px solid #1d2b72;
  border-top: 5px solid #1d2b72;
  border-right: 3px solid #1d2b72;
  font-size: 20px;
  background-color: white;
  grid-column: 1 / span 3;
  grid-row: 2;
  height: 40px;
  width: 325px;
  justify-self: start;
  z-index: 1;
}

.deposit_btn {
  height: 50px;
  width: 125px;
  text-align: center;
  border-radius: 25px;
  border-bottom: 5px solid #1d2b72;
  border-left: 5px solid #1d2b72;
  border-top: 5px solid #1d2b72;
  border-right: 3px solid #1d2b72;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgb(73, 226, 135, 1);
  font-weight: bold;
  font-size: 15px;
  color: #1d2b72;
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  justify-self: center;
  z-index: 2;
}
.deposit_btn:hover {
  cursor: pointer;
  background-color: #1d2b72;
  color: rgb(73, 226, 135, 0.8);
}
.deposit_btn:active {
  opacity: 0.6;
}

.refuel_btn {
  padding: 10px 24px;
  border-radius: 3px;
  border-style: none;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #1d2b72;
  background-color: rgb(255, 208, 57, 0.8);
  grid-column: 1;
  grid-row: 3;
  justify-self: end;
}
.refuel_btn:hover {
  cursor: pointer;
  color: rgb(255, 208, 57, 0.8);
  background-color: #1d2b72;
}

.refuel_btn:active {
  opacity: 0.6;
}

.claim_btn {
  padding: 10px 24px;
  border-radius: 3px;
  border-style: none;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #1d2b72;
  background-color: rgb(255, 208, 57, 0.8);
  grid-column: 3;
  grid-row: 3;
  justify-self: start;
}

.claim_btn:hover {
  cursor: pointer;
  color: rgb(255, 208, 57, 0.8);
  background-color: #1d2b72;
}

.claim_btn:active {
  opacity: 0.6;
}
/* deposit section end */
/*Main content end*/
